.navbar {
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    height:90px;
    border-bottom: 2px solid rgb(231, 227, 227);
    margin-bottom: 35px;;

}



.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
   
}

.form {
    display: flex;
    flex-direction: column;
    width:580px;
    height:500px;
    background-color: rgb(230, 239, 237);
    align-items: center;
    justify-content: space-around;
    
}

.title-div {
    font-size: 27px;
    font-weight: 700;
    color:grey;
}

.label {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom:5px;

}

input {
    width: 520px;
    height: 30px;
    margin-bottom: 18px;
}

button {
    display: block;
    width:530px;
    height: 40px;
    font-family:"Exo 2", sans-serif; 
    border-radius: 4px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 700;


}

.additional {
    font-size: 18px;
}

.already {
    margin-top: 20px;
    font-size: 17px;
}

@media (max-width:480px) {

    .navbar{
        align-items: center;

    }

    .title-div{
        font-size: 22px;

    }

    .form{
      width: 420px;
      height: 600px;
      
    }

    .container2 {
      width:420px;
      height:800px;
      
    }

    input {
        width:290px;
        height:30px;

    }

    button {
        width:300px;

    }

    .additional {
        font-size: 13px;

    }
}